.heading {
   text-align: center;
   margin: 0;
}

.svgContainer {
    width: 100%;
    height: calc(100vh - 180px) !important;
    margin-bottom: 6px !important;
    padding: 0 !important;
    background: lightgrey;
    overflow: hidden;
    will-change: transform;
}

.transformWrapper {
    width: 100% !important;
    height: 100% !important;
}

.checkboxy {
    display: flex;
    align-items: center;
}